{ns hl7-fhir-uv-sdc.value-set.assemble-expectation,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Defines codes describing how a Questionnaire relates to the 'assemble' process",
            :zen.fhir/version "0.6.42",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/uv/sdc/CodeSystem/assemble-expectation",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/sdc/ValueSet/assemble-expectation",
            :version "3.0.0",
            :ftr {:module "hl7-fhir-uv-sdc",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
