{ns hl7-fhir-uv-sdc.value-set.dex-mimetype,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The list of mime types that identify mapping languages supported by DEX.",
            :zen.fhir/version "0.6.29-4",
            :fhir/code-systems #{{:fhir/url "urn:ietf:bcp:13",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/sdc/ValueSet/dex-mimetype",
            :version "3.0.0",
            :ftr {:module "hl7-fhir-uv-sdc",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
