{ns hl7-fhir-uv-sdc.value-set.entryMode,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Defines mechanisms of capturing data in a QuestionnaireResponse",
            :zen.fhir/version "0.6.30-1",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/uv/sdc/CodeSystem/entryMode",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/sdc/ValueSet/entryMode",
            :version "3.0.0",
            :ftr {:module "hl7-fhir-uv-sdc",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
